<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Create a new blog post.</h1>
    <form method="post">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required rows="8" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
    <br><br>
    <form method="get", action="{{ url_for('index') }}">
        <button type="submit">Go back to the main page.</button>
    </form>

</body>
</html>